@import 'style'
.footer-image img{
  position: absolute;
  z-index: 1;
  left: 50%;
  top: -160%;
  height: 200%;
  margin-left: -30%;
  pointer-events: none;
}

@media screen and (max-width: 1450px) {
  .footer-image img{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -119%;
    height: 150%;
    margin-left: -30%;
    pointer-events: none;
  }
}

@media screen and (max-width: 950px) {
  .footer-image img{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -80%;
    height: 100%;
    margin-left: -30%;
    pointer-events: none;
  }
}
@media screen and (max-width: 760px) {
  .footer-image img{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -60%;
    width: 80%;
    height: 75%;
    margin-left: -40%;
    pointer-events: none;
  }
}
.tag-cloud-count{
  font-size:10px;
}
.footer{
  position: relative;
  margin-top: 293px;
}
#galinv {
  max-width: 100%;
  max-height: 20vh;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left:  0;
}

@media screen and (max-width: 600px) {
  #galinv {
    max-width: 100%;
    max-height: 20vh;
    display none
  }
}
div#posts.posts-expand .tag-cloud a{
  background-color: #f5f7f1;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 18px;

}

.tag-cloud a{
  background-color: #f5f7f1;
  border-radius: 4px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 0px;

}

.tag-cloud a:before{
  content: "?";
}

.tag-cloud-tags{
  text-align: left;
  counter-reset: tags;
}
